body, h2 {
	font-family: 'Lato', sans-serif;}

 h1, h3 {
 	font-family: 'Lemonada', cursive;
 	color: #494D53;}

 /* Style points to create:;
1. a pink square, dead center. color: #DB8E8E;
3. a big ش    in the middle, too. color: #494D53;
size is 700 for Segoe UI (might change with new Lato);
4. size 40 Font title and source (lemonada | google fonts);
5. size 30, two rows of arabic letters below it.
6. two size 20 paragraph below.
7. 4,5,6 are all in a left column. 
8. Lower third of right column: selfie and adjacent little bio
( also size 20);
 */

