.analysis{
	position: absolute;
	z-index: 20;
	top: 43px;
	left:148px;
}

.boutros-main{
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	flex: 1;
	font-size: 22px;
	text-align: center;
}

#button {
	z-index: 30;
}

.column{
	float: left;
	position: relative;
}

.container{

}

.dark-letterform{
	margin-top: 472px;
	margin-left: 135px;
	transform: scale(1.5);
}

.flex{
	display: flex;
	padding-left: 0px;
}

.header-blank-space{
	height:10px;
}

p.index-bio{
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.25em;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-right: .75em;
	padding-left: .75em;
}


p.letterform-bio{
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 2.25em;
	text-align: left;
	margin-top: 3em;
	margin-bottom: 4em;
	padding-right: 5.75em;
	margin-left: 1em;
}

p.letterform-description{
	font-family: europa, sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 1.5em;
	text-align: left;
	margin-top: -2em;
	margin-bottom: 4em;
	padding-right: 5.75em;
	margin-left: 1.3em;
	color: #00000060;
}

.nav-bar-left{

}

.nav-bar-right{

}

#nav-button-about{
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #676767;
}

#nav-button-contact{
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 20px;
	font-size: 14px;
	margin-right: 10px;
	color: #676767;
}

#nav-button-resume{
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	color: #676767;

}

#nav-button-work{
	font-family: europa, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-right: 20px;
	font-size: 14px;
	margin-left: 10px;
	color: #000;
}

.row:after{
	content: "";
	clear: both;
	display: table;
	display: flex;
	flex-wrap: wrap;
}

#project-1-photo{
	/*width:255px;*/
	height:13em;
	width: 40%;
	/*margin-left: 305px;*/
	transform: scale(1.85);
	margin-top: 3em;
/*	padding-right: 20px;
	*/
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
/*  	position: absolute;*/
}

#project-2-photo{
	/*width:330px;*/
	/*height:448px;*/
	height: 13em;
	/*margin-left:47px;*/
	transform: scale(2.8);
	margin-top:18em;
	margin-left: 9.3em;
	margin-right: auto;
	
	position: absolute;
  	clip: rect(0px,330px,303px,0px);

}

.flex{
	display: flex;
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-5.5px, -5px);
}


ul {
  list-style-type: none;
}
/*
<!-- Tablet Styles -->
@media only screen and (min-width: 401px) and (max-width: 960px) {
	
}*/

/*Desktop Styles*/
@media only screen and (min-width: 401px) {
	p.index-bio {
    font-family: europa, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.25em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
    padding-right: 7.75em;
    padding-left: 6.75em;
}

}